*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Martel', serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 img{
    height: 100%;
    width: 100%;
    object-fit: cover;}

p{ color: black;
    font-size: 1.4rem;
    margin-top: .5rem;
    line-height: 2.5rem;
    font-weight: 300 ;
    letter-spacing: .05rem;
    }

.section-title{
        font-size: 4rem;
        font-weight: 600;
        color: black;
        margin-bottom: 1rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        text-align: center;
    }
.section-title span{
        color: sienna;
    }
.cta1{
        display: inline-block;
        padding: .5rem 2rem;
        color: white;
        background-color: transparent;
        border: .7rem  solid sienna;
        border-radius: .5rem;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-top: 1.8rem;
        transition: .3s ease;
        transition-property: background-color , color;
    }
.cta1:hover{
        color: white;
        background-color: sienna;
    }

    .cta2{
        display: inline-block;
        padding: .5rem 2rem;
        /* color: white; */
        background-color: sienna;
        border-radius: .5rem;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-top: 1.8rem;
        transition: .3s ease;
        transition-property: background-color , color;
    }
    .cta2:hover{
        color:sienna;
        background-color: white;
        border: .7rem solid sienna;
    }
  

.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span{
    color: sienna;
}
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: rgba( 31, 30, 30, 0.24);
    transition: .3s ease background-color;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
    
}
#header .nav-list ul.active{
    left: 0;
    right:0;
}

#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a{
    color: sienna;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 30px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}
#header .hamburger::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
content: '';
position: absolute;
height: 100%;
width: 100%;
left: 0;
background-color: white;
transition: .3s ease;
transition-property: top, bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;}

#header .hamburger.active .bar::before
{
    bottom: 0;
} 
#header .hamburger.active .bar::after{
    top: 0;
}
/*end header section*/

/*Hero section*/
#homme{
    background-image: url(./img/backgroundimg.jpeg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#homme::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .6;
    z-index: -1;
}
#homme .homme{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5rem;
    justify-content: flex-start;
}
#homme h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
#homme h1:nth-child(1){
    animation-delay: 1s;}

#homme h1:nth-child(2){
    animation-delay: 2s;}

#homme h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;}


#homme h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: sienna;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;

}

#homme h1:nth-child(1) span{
    animation-delay: .5s;
}
#homme h1:nth-child(2) span{
    animation-delay: 1.5s;
}

#homme h1:nth-child(3) span{
    animation-delay: 2.5s;
}
/*end Hero section*/

/* Services section*/

#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 150rem;
    margin: 0 auto;
    padding: 8rem 0;
}
#services .service-top{
    max-width: 90rem;
    margin: 0 auto;
}

#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    border-radius: 1rem;
    background-image: url(https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&w=400);
    background-size: cover;
    margin: 1rem 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
}
.service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg , #9b9c9c  0%,  #e6e6e633 100%);
    opacity: .3;
    z-index: -1;
}
.service-bottom .icon{
    height: 8rem;
    width: 8rem;
    margin-bottom: 2rem;
    
}
#services .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

#services .service-item p{
    color: white;
    text-align: left;
}

#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8rem 0;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}

#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image:linear-gradient(60deg , #29323c  0%,  #485563 100%) ;
    color: white;
}

#projects .project-info h1{
    font-size: 2rem;
    font-weight: 500;
}

#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info p{
    color: white;
}

#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#projects .project-img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image:linear-gradient(60deg , #29323c  0%,  #485563 100%) ;
    opacity: .2;
}
#projects .project-img img{
transition: .3s ease transform;
}

#projects .project-item:hover .project-img img{
    transform: scale( 1.1);
}


#about .about{
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
    padding: 8rem 0;
}
#about .col-left{
    width: 250px;
    height: 350px;
}
#about .col-right{
    width: 100%;
}
#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .col-right p{
    margin-bottom: 20px;

}
#about .col-right .cta2{
    color: black;
    margin-bottom: 5rem;
    padding: .5rem 2rem;
    font-size: 2rem;
}
#about .col-left .about-img{
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}

#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid sienna;
    z-index: -1;

}
#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;

}
#contact .contact-items{
    width: 500px;
    padding: 20px;}

#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0px #0000002c;
    transition: .3s ease box-shadow;
}

#contact .contact-item:hover{
    box-shadow: 0px 0px 5px  0 #0000002c;
}


#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}

#footer{
    background-image:linear-gradient(60deg , #29323c  0%,  #485563 100%) ;
}

#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 3rem;
}
#footer .social-item{
    height: 3rem;
    width: 3rem;
    margin-bottom: 0 .5rem;   
}

#footer p{
    color: white;
    font-size: 1.6rem;
}


/* Keyframes */

@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}


@keyframes text_reveal_box{
    50%{width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;}
}
@keyframes text_reveal{
    100%{
        color: white;
    }}

 @keyframes text_reveal_name{
     100%{
         color: sienna;
         font-weight: 500;
     }
 }
/* end Keyframes */

/* Media Query For Tablet*/

@media only screen and (min-width:768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 6rem;
    }
    /*hero*/
    #hero h1{
        font-size: 7rem;
    }
      

/*service*/
#services .service-bottom .service-item{
    flex-basis: 45%;
    margin: 2.5%;
}
/*end service*/

/*projects*/
#projects .project-item{
    flex-direction: row;
}
#projects .project-item:nth-child(even){
    flex-direction: row-reverse;
}

#projects .project-item{
    height: 40rem;
    margin: 0rem;
    width: 100%;
    border-radius: 0;
}
#projects .all-projects .project-info{
    height: 100%;
}
#projects .all-projects .project-img{
    height: 100%;
}
/* end projects*/

/*about*/

#about .about {
    flex-direction: row;
}

#about .col-left{
    width: 60rem;
    height: 40rem;
    padding-left: 6rem;
}
#about .about .col-left .about-img::after{
    left: -4.5rem;
    top: 3.4rem;
    height: 98%;
    width: 98%;
    border: 1rem solid sienna;
} 
#about .col-right{
    text-align: left;
    padding: 3rem;
}
#about .col-right h1{
    text-align: left;
} 
/*end about*/

/*contact*/
#contact .contact{
    flex-direction: column;
    padding: 10rem 0;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
}
#contact .contact-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    
}
#contact .contact-item{
    width: 30%;
    margin: 0;
    flex-direction: row;
    
}
#contact .contact-item .icon{
    height: 6rem;
    width: 6rem;
}
#contact .contact-item .icon img{
    object-fit: contain;
}
#contact .contact-item .contact-info{
    width: 100%;
    text-align: left;
    padding-left: 2rem;
}
/*end contact*/

}
/* end Media Query For Tablet*/

/* Media Query For Desktop*/
@media only screen and (min-width:1200px){

#header .hamburger{
    display: none;
}   
#header .nav-list ul{
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
}
#header .nav-list ul a::after{
    display: none;
}
#header .nav-list ul li{
    display: inline-block;
}
#header .nav-list ul li a{
    font-size: 1.8rem;
}
#services .service-bottom .service-item{
        flex-basis: 22%;
        margin: 1.5%;}
}

/* end Media Query For Desktop*/
